body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
    color: #FFFFFF
    ;
}

@media screen and (max-width:768px) {
    .display {
        display: none;
    }
}

.card {
    margin-bottom: 50px;
}


   